/* ::::: https://s10.mogucdn.com/__newtown/mogu-global/assets/mls-pc/common/base/css/index.css-99f78bc2.css,newtown/mogu-global/assets/mls-pc/common/captcha/captcha.css-1441bc4f.css,newtown/mogu-global/assets/mls-pc/common/vpop/vpop.css-17a51501.css,newtown/mogu-global/assets/mls-pc/common/nav/index.css-3c245148.css,newtown/mogu-global/assets/mls-pc/common/im/index.css-38e982ab.css,newtown/mogu-global/assets/mls-pc/common/header/index.css-f0e361da.css ::::: */

body, dd, dl, form, ol, p, ul { margin: 0px; }
ol, ul { padding: 0px; list-style: none outside none; }
body, html { color: rgb(51, 51, 51); }
body, button, input, select, textarea { font: 12px/1.6 tahoma,arial,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; margin: 0px; }
a { text-decoration: none; color: rgb(51, 51, 51); }
.fl { float: left; }
.fl, .fr {  }
.mb20 { margin-bottom: 20px ! important; }
.clearfix:after { content: "."; display: block; height: 0px; font-size: 0px; clear: both; visibility: hidden; }
.clearfix {  }
.display_u { display: inline-block; }
.media_screen_1200 { min-width: 1200px; }
.media_screen_1200 .wrap { width: 1200px; margin-left: auto; margin-right: auto; }
.header_2015 { height: 31px; margin-bottom: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(238, 238, 238); }
.header_2015 .home { background: url('o613k_ieygizrthfrdgyzymiytambqgqyde_15x26.png') no-repeat scroll 0px -5px transparent; padding: 0px 20px; display: inline-block; height: 30px; line-height: 30px; vertical-align: top; margin-left: 20px; }
.header_2015 .header_top { float: right; }
.header_2015 .header_top .s1 { display: inline; position: relative; z-index: 100; float: left; margin: 0px 15px 0px 0px; height: 31px; }
.header_2015 .header_top .s1 a { float: left; overflow: hidden; margin-top: 8px; color: rgb(102, 102, 102); line-height: 14px; }
.header_2015 .header_top .s1:hover .ext_mode, .header_2015 .header_top .s1_on .ext_mode { display: block; }
.header_2015 .header_top .has_line > a { padding-left: 15px; border-left: 1px solid rgb(221, 221, 221); }
.header_2015 .header_top .has_icon { padding-right: 10px; }
.header_2015 .header_top .user_meta { background-image: none; }
.header_2015 .header_top .custom_item .icon_delta, .header_2015 .header_top .shoppingcard .icon_delta, .header_2015 .header_top .user_fav .icon_delta, .header_2015 .header_top .user_meta .icon_delta { position: absolute; width: 7px; height: 5px; top: 14px; right: 0px; background: url('o613k_ieygizrthfrdgyzymiytambqgqyde_15x26.png') repeat scroll 0px 0px transparent; }
.header_2015 .header_top .user_fav .ext_mode { width: 100px; }
.header_2015 .header_top .myorder { background: url('upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png') no-repeat scroll 20px -212px transparent; }
.header_2015 .header_top .myorder a { padding-left: 38px; }
.header_2015 .header_top .ext_mode { display: none; position: absolute; z-index: 999; width: 90px; top: 100%; left: -10px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-right: 1px solid rgb(238, 238, 238); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(238, 238, 238) rgb(238, 238, 238); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 0px 0px 3px 3px; }
.header_2015 .header_top .custom_item .ext_mode { width: 100px; }
.header_2015 .header_top .s2 { margin-bottom: 2px; }
.header_2015 .header_top .s2 a { float: none; display: block; height: 28px; line-height: 28px; padding: 0px 20px; margin: 0px; overflow: hidden; color: rgb(68, 68, 68); }
.header_2015 .header_top .s2 .on, .header_2015 .header_top .s2 a:hover { background: none repeat scroll 0% 0% rgb(247, 247, 247); }
.header_2015 .header_top .shopping_cart_v2 { background: url('upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png') no-repeat scroll 12px -104px transparent; }
.header_2015 .header_top .shopping_cart_v2 > a { padding-left: 38px; }
.header_2015 .header_top .shopping_cart_v2 .cart_info_wrap { position: relative; z-index: 10; display: inline-block; }
.header_2015 .header_top .shopping_cart_v2 .cart_info { display: inline-block; color: rgb(51, 51, 51); cursor: pointer; }
.header_2015 .header_top .shopping_cart_v2 .shopping_cart_loading { display: none; position: absolute; right: 0px; top: 31px; left: -90px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 0px 0px 5px 5px; border-right: 1px solid rgb(238, 238, 238); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(238, 238, 238) rgb(238, 238, 238); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 200px; padding: 18px 0px; text-align: center; color: rgb(153, 153, 153); height: 18px; line-height: 18px; z-index: 1; }
@media (max-width: 1212px) {
  .header_2015 .header_mid .eleven_logo { background-image: url('twelve_logo_960.gif'); }
  .header_2015 .header_mid .top_nav_search { margin-left: 40px; }
  .header_2015 .nav_list li { padding: 0px 16px; }
}
@media (max-width: 1212px) {
  .header_2014 .header_mid .eleven_logo { background-image: url('twelve_logo_960.gif'); }
  .header_2014 .header_mid .top_nav_search { margin-left: 40px; }
  .header_2014 .nav_list li { padding: 0px 16px; }
}
/* ::::: https://s10.mogucdn.com/__newtown/trade_cart_web/assets/mls-pc/pages/cartList/index.css-1664051a.css ::::: */

.g-footer { padding: 40px 0px; text-align: center; }
.g-footer, .g-footer a { color: rgb(153, 153, 153); }
.g-footer a:hover { text-decoration: underline; }
.g-footer .icons { padding-top: 16px; height: 28px; text-align: center; }
.g-footer .icons .kx, .g-footer .icons .mc, .g-footer .icons .pa, .g-footer .icons .pc, .g-footer .icons .up, .g-footer .icons .vs { display: inline-block; height: 28px; vertical-align: top; }
.g-footer .icons .vs { width: 80px; background: url('split.png') no-repeat scroll 0px -50px transparent; cursor: default; }
.g-footer .icons .mc { width: 74px; background: url('split.png') no-repeat scroll -90px -50px transparent; cursor: default; }
.g-footer .icons .up { width: 50px; background: url('split.png') no-repeat scroll -178px -50px transparent; cursor: default; }
.g-footer .icons .pa { width: 164px; vertical-align: top; background: url('split.png') no-repeat scroll -240px -50px transparent; }
.g-footer .icons .kx { width: 84px; background: url('split.png') no-repeat scroll -400px -50px transparent; }
.g-footer .icons .pc { width: 50px; background: url('split.png') no-repeat scroll -486px -50px transparent; }
body { background: none repeat scroll 0% 0% rgb(244, 244, 244); }
#body_wrap { min-height: 350px; overflow: hidden; }
.g-header { width: 100%; height: 72px; border-bottom: 1px solid rgb(221, 221, 221); }
.g-header .g-header-in { margin: 0px auto; }
.g-header .logo { float: left; width: 225px; height: 48px; margin-top: 14px; background: url('split_001.png') no-repeat scroll 0px 0px transparent; }
.g-header .logo-cart { height: 52px; background: url('170330_1kak1b2g93lca01541bjd1536i89g_144x39.png') no-repeat scroll 0% 0% transparent; }
.g-header .process-bar { float: right; width: 494px; }
.g-wrap {  }
.md_process .md_process_wrap { position: relative; height: 23px; margin: 0px auto; padding: 18px 0px 24px; }
.md_process .md_process_sd { position: absolute; top: 18px; left: 0px; height: 23px; }
.md_process .md_process_i { position: absolute; top: 18px; width: 23px; height: 23px; font: 14px/23px helvetica,tahoma,arial,sans-serif; color: rgb(255, 255, 255); text-align: center; }
.md_process .md_process_tip, .md_process .md_process_tip_bt { position: absolute; top: 24px; width: 100px; height: 20px; left: 50%; margin-left: -50px; font: 12px/20px helvetica,tahoma,arial,sans-serif; color: rgb(153, 153, 153); }
.md_process.md_process_len4 .md_process_wrap { width: 494px; background: url('upload_ie3wkzrtmrtdozdfguzdambqgayde_157x23.png') repeat-x scroll 0px 18px transparent; }
.md_process.md_process_len4 .md_process_sd { background: url('upload_ie4wcntcmntdozdfguzdambqgqyde_157x23.png') repeat-x scroll 23px 0px transparent; }
.md_process.md_process_len4 .md_process_i1 { left: 0px; }
.md_process.md_process_len4 .md_process_step1_5 .md_process_sd { width: 90px; }
.md_process.md_process_len4 .md_process_step1 .md_process_i1 .md_process_tip, .md_process.md_process_len4 .md_process_step1_5 .md_process_i1 .md_process_tip { color: rgb(255, 68, 102); }
.md_process.md_process_len4 .md_process_i2 { left: 157px; }
.md_process.md_process_len4 .md_process_i3 { left: 314px; }
.md_process.md_process_len4 .md_process_i4 { left: 471px; }
.g-wrap { padding-top: 30px; }
.cart_hoverline:hover, .cart_uline { text-decoration: underline; }
.cart_red { color: rgb(255, 79, 124); }
#cartPage { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 20px 26px; }
.cart_page_wrap { padding-top: 0px; }
.cart_empty { position: relative; padding: 60px 0px 80px 360px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.media_screen_1200 .cart_empty { padding-left: 480px; }
.cart_empty_icon { position: absolute; left: 50%; margin-left: -215px; width: 80px; height: 60px; background: url('1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png') no-repeat scroll -198px -136px transparent; }
.cart_empty h5 { padding-top: 2px; color: rgb(51, 51, 51); font: 700 16px/1 helvetica,tahoma,arial,sans-serif; margin-bottom: 5px; }
.cart_empty_list li { padding-left: 12px; background: url('1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png') no-repeat scroll -344px -33px transparent; color: rgb(102, 102, 102); font: 12px/2 helvetica,tahoma,arial,sans-serif; }
