/* ::::: https://s10.mogucdn.com/__/mfp/meili-mls-pc-nav/assets/0.0.4/nav.css,mfp/meili-mls-mls-pc-bottom/assets/0.0.3/bottom.css,mfp/meili-mls-pc-sidebar/assets/0.0.6/sidebar.css ::::: */

.clearfix:after { content: ""; display: table; clear: both; }
#M_PC_footer_container { min-width: 1260px; margin-top: 15px; padding-top: 30px; background-color: rgb(245, 245, 245); border-top: 1px solid rgb(221, 221, 221); font-size: 12px; color: rgb(102, 102, 102); }
#M_PC_footer_container .inner { width: 1200px; margin: 0px auto; overflow: hidden; }
#M_PC_footer_container .flist { float: left; margin-right: 104px; margin-bottom: 20px; line-height: 26px; }
#M_PC_footer_container .flist h4 { font-size: 16px; line-height: 28px; }
#M_PC_footer_container .flist.aboutus { margin-right: 0px; }
#M_PC_footer_container .flist.aboutus a { vertical-align: middle; }
#M_PC_footer_container .flist.service { text-align: center; margin-left: 228px; margin-right: 55px; }
#M_PC_footer_container .flist.last { margin-right: 0px; text-align: center; }
#M_PC_footer_container .flist .qrcode { display: inline-block; margin-top: 13px; }
#M_PC_footer_container .footer_link { margin-top: 12px; }
#M_PC_footer_container a { color: rgb(102, 102, 102); text-decoration: none; }
#M_PC_footer_container a:hover { color: rgb(255, 51, 102); }
#M_PC_footer_container .footer_sina_follow { display: none; }
#M_PC_footer_container .footer_icon_qzone, #M_PC_footer_container .footer_icon_sina, #M_PC_footer_container .footer_icon_tencent { height: 18px; width: 18px; margin-top: 5px; margin-right: 5px; float: left; background: url('idid_ie4tgobyge2gczjymuzdambqgqyde_74x18.png') no-repeat scroll 0% 0% transparent; }
#M_PC_footer_container .footer_icon_qzone { background-position: -28px 0px; }
#M_PC_footer_container .footer_icon_tencent { background-position: -56px 0px; }
#M_PC_footer_container .footer_record { border-top: 1px solid rgb(230, 230, 230); line-height: 22px; padding: 12px 192px; text-align: center; }
#M_PC_sidebar_container { width: 38px; height: 100%; border-left: 1px solid rgb(221, 221, 221); background-color: rgb(246, 246, 246); position: fixed; right: 0px; top: 0px; font-size: 12px; z-index: 999; }
#M_PC_sidebar_container .biu-options { position: absolute; top: 62px; border-top: 1px solid rgb(221, 221, 221); }
#M_PC_sidebar_container .sidebar-btn { border-bottom: 1px solid rgb(221, 221, 221); line-height: 1.2; }
#M_PC_sidebar_container .sidebar-link { display: block; width: 10px; padding-top: 36px; padding-right: 14px; padding-left: 14px; cursor: pointer; line-height: 1.2; color: rgb(102, 102, 102); background: none no-repeat scroll 11px 13px transparent; text-decoration: none; }
#M_PC_sidebar_container .sidebar-link:hover { color: rgb(255, 255, 255); background-color: rgb(243, 56, 102); }
#M_PC_sidebar_container .sidebar-link:hover .sidebar-num { background-color: rgb(255, 255, 255); color: rgb(243, 56, 102); }
#M_PC_sidebar_container .sidebar-text-vertical { width: 40px; height: 20px; display: inline-block; margin-top: 12px; margin-left: -18px; transform: rotate(90deg); }
#M_PC_sidebar_container .sidebar-num { background-color: rgb(243, 56, 102); color: rgb(255, 255, 255); padding: 0px 4px; border-radius: 10px; display: block; position: absolute; top: 4px; right: 2px; z-index: 1000; }
#M_PC_sidebar_container .biu-cart, #M_PC_sidebar_container .biu-coupon, #M_PC_sidebar_container .biu-service { position: relative; }
#M_PC_sidebar_container .biu-download { height: 70px; background: url('idid_ifrgkmlfmmyggyztmizdambqmeyde_12x18.png') no-repeat scroll 13px 10px transparent; position: relative; padding-top: 41px; }
#M_PC_sidebar_container .biu-download:hover { color: rgb(255, 255, 255); background: url('idid_ifqtsojugaywgyztmizdambqgyyde_12x18.png') no-repeat scroll 13px 10px rgb(243, 56, 102); }
#M_PC_sidebar_container .biu-download:hover .sidebar-qrcode { display: block; }
#M_PC_sidebar_container .sidebar-qrcode { width: 140px; height: 140px; padding: 13px; border: 1px solid rgb(221, 221, 221); background-color: rgb(255, 255, 255); position: absolute; right: 38px; top: 0px; display: none; }
#M_PC_sidebar_container .sidebar-qrcode:after, #M_PC_sidebar_container .sidebar-qrcode:before { border: medium solid transparent; content: ""; height: 0px; left: 100%; position: absolute; width: 0px; }
#M_PC_sidebar_container .sidebar-qrcode:after { border-width: 10px; border-left-color: rgb(255, 255, 255); top: 55px; }
#M_PC_sidebar_container .sidebar-qrcode:before { border-width: 12px; border-left-color: rgb(221, 221, 221); top: 53px; }
#M_PC_sidebar_container .sidebar-qrcode img { position: absolute; left: 0px; right: 0px; margin: auto; bottom: 0px; top: 0px; }
#M_PC_sidebar_container .biu-cart .sidebar-link { height: 61px; background: url('idid_ifqtqmdggzqwcyztmizdambqgyyde_17x13.png') no-repeat scroll 10px 9px transparent; }
#M_PC_sidebar_container .biu-cart .sidebar-link:hover { background: url('idid_ie3wmndegy4geyztmizdambqgayde_17x13.png') no-repeat scroll 10px 9px rgb(243, 56, 102); }
#M_PC_sidebar_container .biu-coupon .sidebar-link { height: 56px; background-image: url('idid_ifrtoyjumjtgmmbvmizdambqhayde_18x13.png'); }
#M_PC_sidebar_container .biu-coupon .sidebar-link:hover { background-image: url('idid_ifrggyjxmvsweyztmizdambqmeyde_18x13.png'); }
#M_PC_sidebar_container .biu-mark .sidebar-link { height: 46px; padding-top: 41px; background-image: url('idid_ifrdqyryguywgyztmizdambqmeyde_19x18.png'); }
#M_PC_sidebar_container .biu-mark .sidebar-link:hover { background-image: url('idid_ifqwmn3gg4ywgyztmizdambqgyyde_19x18.png'); }
#M_PC_sidebar_container .biu-service .sidebar-link { height: 52px; background-image: url('idid_ie3wim3bmqywgyztmizdambqgayde_17x15.png'); }
#M_PC_sidebar_container .biu-service .sidebar-link:hover { background-image: url('idid_ifrdgyzqmiywgyztmizdambqmeyde_17x15.png'); }
#M_PC_sidebar_container .biu-footprint .sidebar-link { height: 49px; padding-top: 44px; background-image: url('idid_ie4tmmrwgazggyztmizdambqgqyde_15x21.png'); }
#M_PC_sidebar_container .biu-footprint .sidebar-link:hover { background-image: url('idid_ifrdaolegizggyztmizdambqmeyde_15x21.png'); }
#M_PC_sidebar_container .biu-go2top { position: fixed; right: 0px; bottom: 0px; width: 38px; height: 40px; text-align: center; border-top: 1px solid rgb(221, 221, 221); z-index: 1000; display: none; background: url('idid_ie3tizlbgeyggyztmizdambqgayde_14x7.png') no-repeat scroll 12px 16px rgb(248, 248, 248); }
#M_PC_sidebar_container .biu-go2top:hover { cursor: pointer; background: url('idid_ifqwkodfgqyggyztmizdambqgyyde_14x7.png') no-repeat scroll 12px 16px rgb(243, 56, 102); }
/* ::::: http://static.meilishuo.net/pc/css/base-cdfde37e52.css ::::: */

blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, li, map, ol, p, pre, table, td, th, ul { margin: 0px; padding: 0px; }
dl, li, ol, ul { list-style: none outside none; }
input, pre, textarea { word-wrap: break-word; }
input, textarea { resize: none; outline: medium none; font-family: Arial; }
fieldset, img { border: 0px none; }
a { color: rgb(102, 102, 102); text-decoration: none; }
#com-search .tags span:hover, .nav_main_box .attr_box .sec_attr .list p.listP .red, .nav_main_box .nav_list p .red, .nav_main_box .nav_list p a:hover, .nav_main_box .nav_main .nav_tab .active, a:hover { color: rgb(255, 51, 102); }
a:focus { outline: medium none; }
html {  }
body { background-color: rgb(242, 240, 240); color: rgb(102, 102, 102); font-size: 12px; font-family: Arial,'Microsoft YaHei'; }
img { display: block; }
/* ::::: http://static.meilishuo.net/pc/css/page/user/register-1547c89096.css ::::: */

.img-code { display: none; margin-top: 15px; overflow: hidden; }
.img-code p, .mb10 { margin-bottom: 10px; }
.img-code a { float: right; color: rgb(255, 51, 102); text-decoration: underline; }
.img-code li, .img-code ul, .page h1 { overflow: hidden; }
.img-code li { float: left; width: 68px; height: 68px; margin: 1px; cursor: pointer; background-repeat: no-repeat; }
.img-code .one { background-position: 0px 0px; }
.img-code .two { background-position: -75px 0px; }
.img-code .three { background-position: -150px 0px; }
.img-code .four { background-position: -225px 0px; }
body { position: relative; }
.page { width: 980px; margin-left: auto; margin-right: auto; }
.page h1 { padding-top: 40px; padding-bottom: 30px; }
.page h1 a { background: url('170411_298gh6kg2774g37kbd3eel4ib8147_408x104.png') repeat scroll 0% 0% / 100% auto transparent; float: left; width: 204px; height: 52px; }
.content { background-color: rgb(255, 255, 255); padding: 40px; margin-bottom: 80px; overflow: hidden; }
.content .left-box { float: left; }
.content .right-box { width: 322px; float: right; padding-left: 40px; padding-bottom: 30px; border: 1px solid rgb(220, 220, 220); }
.content .right-box .title { font-size: 14px; color: rgb(102, 102, 102); line-height: 56px; border-bottom: 1px solid rgb(220, 220, 220); margin-left: -40px; text-indent: 40px; font-weight: 700; }
.content .right-box .error-tips { background: url('o613k_kqzfunswozbg2s2ugfjeg5sckzsew_16x16.png') no-repeat scroll 12px center rgb(255, 255, 248); border: 1px solid rgb(255, 215, 151); line-height: 30px; color: rgb(255, 87, 131); width: 240px; padding-left: 40px; margin-bottom: 0px; margin-top: 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: none; }
.content .right-box .form { padding-right: 40px; }
.content .right-box .item { margin-top: 15px; overflow: hidden; }
.content .right-box .ui-input { background: none repeat scroll 0px 0px transparent; border: 1px solid rgb(207, 207, 207); height: 28px; line-height: 1; padding: 0px 6px 0px 0px; text-indent: 6px; float: left; }
.content .right-box .phone { width: 100%; box-sizing: border-box; height: 30px; line-height: 30px; }
.content .right-box .code { width: 160px; }
.content .right-box .get-code { background-color: rgb(255, 51, 102); color: rgb(255, 255, 255); text-align: center; float: left; margin-left: 10px; line-height: 30px; width: 104px; }
.content .right-box .rules { color: rgb(255, 51, 102); text-decoration: underline; }
.content .right-box .login { float: right; text-decoration: underline; font-size: 12px; font-weight: 400; margin-right: 40px; }
.content .submit { background-color: rgb(255, 51, 102); color: rgb(255, 255, 255); text-align: center; width: 100%; border: medium none; line-height: 36px; cursor: pointer; font-size: 14px; }
